body {
	background-color: #333333;

	font-size: 16px;
	color: #8D8D8D;
}

.controlPanel {	
	padding: 8px;
	
	opacity: 0.7;

	transition: opacity 0.4s ease-out;
}

.muted {
	opacity: 0.5;	
}

.title {
	padding: 2px 0 3px 0;
}

.controlPanel.floating {
	background-color: #C5E0DC;
	position: fixed;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.centralized {
	margin-right: auto;
	margin-left: auto;
}

.controlPanel:hover { u
	transition: opacity 0.4s ease-out;
	opacity: 1;
}

/* Scrollbar styles */
::-webkit-scrollbar {  
    width: 12px;  
    height: 18px;
}  
::-webkit-scrollbar-track {  
    background-color: #1E1E1C;  
    border-left: 1px solid #696250;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #696250;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #9A4F32;  
}  

/* PRETTY SELECT */
/* source: http://cssdeck.com/labs/styling-select-box-with-css3 */

select {
    padding: 3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    
    /*-webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;*/
    
    /*background: #f8f8f8;
    color:#888;*/

    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;

    /*cursor:pointer;*/
}

/*label {position:relative}
label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}*/